@media (prefers-color-scheme: dark) {
  body { 
    background-color: #3d3d3d;
    color: #ddddcd;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ddddcd;
    color: #3d3d3d;
  }
}



/* Uppgift: Ljust eller mörkt tema (VG)
Instruktioner
Moderna webbläsare har stöd för prefers-color-scheme, vilket gör det möjligt att applicera olika CSS-regler beroende på om användaren föredrar mörka eller ljusa färger.

Gör så att 

**body-elementet får bakgrundsfärgen #3d3d3d om användaren föredrar mörka färger, 

**och #ddddcd om användaren föredrar ljusa färger.

**Gör så att förgrundsfärgen (color) appliceras tvärtom, det vill säga att förgrundsfärgen blir #ddddcd om användaren föredrar mörka färger, och #3d3d3d om användaren föredrar ljusa färger.

Din lösning */